html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.spinner {
  margin-top: 200px;
}
.no-scroll {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.success {
  background-color: #0c8643;
  border: 1px solid rgb(3, 70, 44);
  text-align: center;
  padding: 0.5em;
  color: white;
  font-size: 0.8em;
  width: 90%;
}
.error {
  background-color: #db5353;
  border: 1px solid red;
  text-align: center;
  padding: 0.5em;
  color: white;
  font-size: 0.8em;
  width: 90%;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .card-title {
  font-family: "Raleway", sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 0px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.card-title h4 {
  width: 80%;
  text-align: left;
}
.card-title i {
  cursor: pointer;
}
.d-actions {
  width: 20%;
  vertical-align: middle;
  text-align: end;
  cursor: pointer;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  padding: 0.5em;
}
.App-link:hover {
  color: white;
}
.slideButton span i {
  cursor: pointer;
}
.profile {
  display: flex;
  width: 100vw;
  flex-direction: column;
  margin-bottom: 5vh;
}
.profile a:link,
.profile a:visited {
  color: black;
  text-decoration: underline;
}
.profile a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.professional-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  width: 90vw;
  margin: 5vh auto;
  padding: 5vw;
  flex-wrap: wrap;
  position: relative;
  top: 0;
}
.profileImage {
  width: 180px;
  height: 180px;
  max-width: 240px;
  border-radius: 50%;
  cursor: pointer;
}
.imageUploadIcon {
  background-color: #455aabcc;
  display: block;
  height: 2em;
  margin-top: -2.4em;
  color: white;
  padding: 0.2em;
  font-size: 1.5em;
}
.personal-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.5em 2em;
  max-height: 800px;
  margin: 0 auto;
  padding: 5vw;
  height: auto;
  width: 75vw;
  flex-wrap: wrap;
}
.personal-details div.control-horizontal {
  width: 100%;
  text-align: right;
}
.control-horizontal i {
  cursor: pointer;
}
.personal-details img.profilePic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
}
.info p i {
  vertical-align: middle;
}
.info i {
  vertical-align: middle;
  font-size: 1.2em;
  cursor: pointer;
}
.pro-info {
  margin: 3em auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.card-list {
  text-align: left;
  display: flex;
  width: 75vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3em;
  padding-right: 3em;
}
.card-list li {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 40% 25% 25%;
  justify-content: start;
  align-items: center;
  border: 0px solid red;
  width: 100%;
}
.card-list li img.bullet {
  width: 24px;
  height: 24px;
  margin-left: -2em;
  margin-right: 1em;
}
.card-list li span.actions {
  margin-left: auto;
  font-style: italic;
  border: 0px solid teal;
  font-size: 0.9em;
}
.card-list li span.level {
  margin-left: auto;
  font-style: italic;
  border: 0px solid teal;
  font-size: 0.9em;
}
.card-list div a:link,
.card-list li a:visited,
.card-list li a:hover {
  text-decoration: none;
}
.card-list li span i {
  vertical-align: middle;
  font-size: 1.2em;
  cursor: pointer;
  justify-content: end;
}
/* Start pool and user cards */
.pool {
  display: flex;
  width: 90vw;
  padding: 5vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.no-info {
  color: #61dafb;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}
.user-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.cardHead {
  display: block;
  width: 100%;
  height: 160px;
  background-size: cover;
}
.cardTitle {
  background-color: black;
  color: #afe1ea;
  font-family: "Raleway", sans-serif;
  width: 100%;
}
a.cardTitle {
  text-decoration: none;
}
/*End of pool and user cards styles */
.border-primary {
  border: 1px solid #afe1ea;
}
.border-primary--2t {
  border: 2px solid #afe1ea;
}
.border-white {
  border: 1px solid #ffffff;
}
.border-white--2t {
  border: 2px solid #ffffff;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  max-width: 100vw;
  margin: 0.5em auto;
  padding-top: 1em;
  height: 90%;
  max-height: 1200px;
  text-align: center;
}
.form-container-pro {
  border: 0px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75vw;
  max-width: 100vw;
  margin: 2em auto;
  padding-top: 1em;
  height: 90%;
  max-height: 1200px;
}
.form-container-pro h4 {
  width: 100%;
}
.right-space {
  padding-left: 2em;
  text-align: left;
}
.form-container-pro form {
  border-right: 1px solid #86777783;
  padding: 2em;
  width: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-container form {
  border-right: 0px solid #86777783;
  padding: 2em;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-search {
  margin: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-search input[type="text"] {
  border: 2px solid #afe1ea;
  line-height: 2em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}
.form-search button {
  background-color: #afe1ea;
  font-size: 1em;
  cursor: pointer;
}
.form-search button i {
  vertical-align: middle;
}
.form-control {
  border: 0px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  margin-top: 1em;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  padding: 2em 2em 2em 2em;
  width: 600px;
}
.form-control input[type="email"],
.form-control input[type="text"],
.form-control input[type="password"] {
  width: 95%;
  border: 1px solid #afe1ea;
  line-height: 2em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  max-width: 580px;
}
.form-control input[type="submit"] {
  background-color: #000000;
  color: #afe1ea;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
}
#editFields {
  flex-grow: 2;
  max-width: 500px;
}
.editFormControl {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0.5em;
}
.editFormControl input[type="text"],
.editFormControl input[type="email"] {
  width: 90%;
  line-height: 1.5em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}
.fieldButton {
  color: #afe1ea;
  background-color: black;
  height: 2em;
  font-size: 1em;
}
.home-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button-large {
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.6em;
  border-radius: 5%;
  margin: 3em 3em 3em 3em;
  cursor: pointer;
}
.primary {
  background-color: #afe1ea;
  color: #000000;
}
.clear {
  border: 1px solid #afe1ea;
  color: #ffffff;
  background-color: black;
}
.nav-menu {
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding-right: 5vw;
  height: 100px;
}
.nav-menu-item {
  padding: 1em 1em 1em 1em;
}
.banner-line {
  margin: 1em 0;
  display: block;
  height: 0.5em;
  width: 20%;
  border-radius: 15px;
}
.banner-1 {
  width: 50%;
  margin: 20px auto;
}
.banner,
.image-container {
  padding: 2em;
  justify-content: start;
  text-align: left;
  width: 40%;
}
.landing-img {
  padding: 2em;
  justify-content: start;
  text-align: left;
  width: 60%;
}
.image-container img {
  width: 100%;
}
.no-opacity {
  opacity: 0;
}
.fadeOut {
  opacity: 0;
  transition: opacity 3000ms;
}
.fadeIn {
  opacity: 1;
  transition: opacity 3000ms;
}
.banner h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 3em;
  text-align: left;
}
.banner h3 {
  font-family: "Confortaa", serif;
  font-size: 1.5em;
  text-align: left;
}
.banner a,
.banner button {
  margin: 2em auto;
}
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu-item a:link,
a:visited {
  text-decoration: none;
  text-transform: none;
  color: teal;
  padding: 0.5em 1em 0.5em 1em;
}
.nav-menu-item a.active {
  font-weight: bold;
  border-bottom: 1px solid teal;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.left {
  text-align: left;
  justify-content: flex-start;
}
.center {
  text-align: center;
  justify-content: center;
}
.right {
  text-align: right;
  justify-content: flex-end;
}
#dialog-container {
  width: 80vw;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  bottom: 10vh;
  text-align: center;
  vertical-align: middle;
  background-color: #000000cc;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.dialog {
  z-index: 1000;
  top: 30vh;
  left: 10vw;
  right: 10vw;
  position: fixed;
  align-self: center;
  margin: 50px auto;
  min-width: 300px;
  width: 40vw;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid teal;
}
.dialog .title {
  width: 100%;
  text-align: center;
  color: black;
  background-color: #afe1ea;
}
.dialog_buttons {
  margin: 2em;
  display: flex;
  flex-direction: row;
}
.dialog_buttons button {
  color: #afe1ea;
  border: 1px solid #afe1ea;
  height: 2em;
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
  min-width: 5vw;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
}
.dashboard {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 2em; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
